In [2]:
import pandas as pd
df=pd.read_csv("house_rent_dataset.csv")
print(df)

       Posted On  BHK   Rent  Size            Floor    Area Type  \
0     2022-05-18    2  10000  1100  Ground out of 2   Super Area
1     2022-05-13    2  20000   800       1 out of 3   Super Area
2     2022-05-16    2  17000  1000       1 out of 3   Super Area
3     2022-07-04    2  10000   800       1 out of 2   Super Area
4     2022-05-09    2   7500   850       1 out of 2  Carpet Area
...          ...  ...    ...   ...              ...          ...
4741  2022-05-18    2  15000  1000       3 out of 5  Carpet Area
4742  2022-05-15    3  29000  2000       1 out of 4   Super Area
4743  2022-07-10    3  35000  1750       3 out of 5  Carpet Area
4744  2022-07-06    3  45000  1500     23 out of 34  Carpet Area
4745  2022-05-04    2  15000  1000       4 out of 5  Carpet Area

                 Area Locality       City Furnishing Status  Tenant Preferred  \
0                       Bandel    Kolkata       Unfurnished  Bachelors/Family
1     Phool Bagan, Kankurgachi    Kolkata    Semi-Furnished  Bachelors/Family
2      Salt Lake City Sector 2    Kolkata    Semi-Furnished  Bachelors/Family
3                  Dumdum Park    Kolkata       Unfurnished  Bachelors/Family
4                South Dum Dum    Kolkata       Unfurnished         Bachelors
...                        ...        ...               ...               ...
4741              Bandam Kommu  Hyderabad    Semi-Furnished  Bachelors/Family
4742      Manikonda, Hyderabad  Hyderabad    Semi-Furnished  Bachelors/Family
4743      Himayath Nagar, NH 7  Hyderabad    Semi-Furnished  Bachelors/Family
4744                Gachibowli  Hyderabad    Semi-Furnished            Family
4745           Suchitra Circle  Hyderabad       Unfurnished         Bachelors

      Bathroom Point of Contact
0            2    Contact Owner
1            1    Contact Owner
2            1    Contact Owner
3            1    Contact Owner
4            1    Contact Owner
...        ...              ...
4741         2    Contact Owner
4742         3    Contact Owner
4743         3    Contact Agent
4744         2    Contact Agent
4745         2    Contact Owner

[4746 rows x 12 columns]

In [4]:
dfEncoded=pd.get_dummies(df, columns=["Area Type", "Furnishing Status","City"], drop_first=True)
print(dfEncoded)

       Posted On  BHK   Rent  Size            Floor             Area Locality  \
0     2022-05-18    2  10000  1100  Ground out of 2                    Bandel
1     2022-05-13    2  20000   800       1 out of 3  Phool Bagan, Kankurgachi
2     2022-05-16    2  17000  1000       1 out of 3   Salt Lake City Sector 2
3     2022-07-04    2  10000   800       1 out of 2               Dumdum Park
4     2022-05-09    2   7500   850       1 out of 2             South Dum Dum
...          ...  ...    ...   ...              ...                       ...
4741  2022-05-18    2  15000  1000       3 out of 5              Bandam Kommu
4742  2022-05-15    3  29000  2000       1 out of 4      Manikonda, Hyderabad
4743  2022-07-10    3  35000  1750       3 out of 5      Himayath Nagar, NH 7
4744  2022-07-06    3  45000  1500     23 out of 34                Gachibowli
4745  2022-05-04    2  15000  1000       4 out of 5           Suchitra Circle

      Tenant Preferred  Bathroom Point of Contact  Area Type_Carpet Area  \
0     Bachelors/Family         2    Contact Owner                  False
1     Bachelors/Family         1    Contact Owner                  False
2     Bachelors/Family         1    Contact Owner                  False
3     Bachelors/Family         1    Contact Owner                  False
4            Bachelors         1    Contact Owner                   True
...                ...       ...              ...                    ...
4741  Bachelors/Family         2    Contact Owner                   True
4742  Bachelors/Family         3    Contact Owner                  False
4743  Bachelors/Family         3    Contact Agent                   True
4744            Family         2    Contact Agent                   True
4745         Bachelors         2    Contact Owner                   True

      Area Type_Super Area  Furnishing Status_Semi-Furnished  \
0                     True                             False
1                     True                              True
2                     True                              True
3                     True                             False
4                    False                             False
...                    ...                               ...
4741                 False                              True
4742                  True                              True
4743                 False                              True
4744                 False                              True
4745                 False                             False

      Furnishing Status_Unfurnished  City_Chennai  City_Delhi  City_Hyderabad  \
0                              True         False       False           False
1                             False         False       False           False
2                             False         False       False           False
3                              True         False       False           False
4                              True         False       False           False
...                             ...           ...         ...             ...
4741                          False         False       False            True
4742                          False         False       False            True
4743                          False         False       False            True
4744                          False         False       False            True
4745                           True         False       False            True

      City_Kolkata  City_Mumbai
0             True        False
1             True        False
2             True        False
3             True        False
4             True        False
...            ...          ...
4741         False        False
4742         False        False
4743         False        False
4744         False        False
4745         False        False

[4746 rows x 18 columns]